<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="head">Prostrate Cancer Detection</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-container">

      
          <form action="{{ url_for('predict')}}" method="post" class="form-inline">
            <div class="row">
             
              <div class="col-md-6">
                <div class="container">
                  <h4>Enter Cell Details</h4>
                  <div class="form-group">
                    <label for="radius">Radius </label>
                    <input type="text" class="form-control" name="radius" required="required">
                  </div>
                  <div class="form-group">
                    <label for="texture">Texture</label>
                    <input type="text" class="form-control" name="texture" required="required">
                  </div>
                  <div class="form-group">
                    <label for="perimeter">Perimeter</label>
                    <input type="text" class="form-control" name="perimeter" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="area">Area</label>
                    <input type="text" class="form-control" name="area" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="smoothness">Smoothness</label>
                    <input type="text" class="form-control" name="smoothness" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="compactness">Compactness</label>
                    <input type="text" class="form-control" name="compactness" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="symmetry">Symmetry</label>
                    <input type="text" class="form-control" name="symmetry" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="fractal_dimension">Fractal Dimension</label>
                    <input type="text" class="form-control" name="fractal_dimension" required="required" />
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Predict Cancer</button>
                </div>
              </div>
            </div>
          </form>
        <br />
        
        <br />
</body>
</html>